@charset "UTF-8"; 

body {
    background-color: rgb(35, 35, 35);
    color: white;
    font: 20px arial;
}
h1{
    color: rgb(255, 0, 0);
    
}
h2{
    color: rgb(255, 255, 255);
   
}
p{
    text-align: justify;
}
